
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300&family=Source+Code+Pro&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: all 0.2s ease-in-out;
}

h1,h2,h3,h4,h5,h6,.heading {
   font-family: poppins;
   font-weight: 300;
}

h1,.heading {
   font-size: 3rem;
}

html {
   font-size: 16px;
}

body,button,input {
   font-family: nunito;
   font-size: 1rem;
}

code, pre, .fixed-width {
   font-family: 'source code pro';
}

#root {
   display: grid;
   grid-template-columns: 300px auto;
   grid-template-rows: 100px auto;
   min-height: 100vh;
   color: #eee;
   background-color: #333;

   >* {
      padding: 1rem;
   }

   & span {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
         max-height:100%;
      }
   }

   >header {
      display: flex;
      align-items: center;
   }

   >nav {
      ul {
         list-style: none;

         button {
            display: block;
            width: 100%;
            text-align: left;
            outline: none;
            border: none;
            box-shadow: none;
            margin: 1rem 0;
         }

         .active button {
            background-color: #555;
         }
      }
   }

   >main {
      background-color: #222;
      border-left: 5px solid #aaa;
      border-top: 5px solid #aaa;
      border-top-left-radius: 1rem;   
   }

}

main section {
   h1,h2,h3,h4,h5,h6,p {
      margin: 0.5rem 0;
   }
}

table {
   width: 100%;
}

button {
   cursor: pointer;
   padding: 0.25rem 0.5rem;
   border: 2px solid;
   outline: none;
   border-radius: 0.5rem;
   background-color: #444;
   color: #eee;
   box-shadow: 2px 2px 5px black;

   &:hover {
      background-color: #555;
      border-color: #ddd;
   }

   &:active {
      transform: translateX(2px) translateY(2px);
      box-shadow: none;
   }
}

form {
   fieldset {
      margin: 1rem 0;
      border-radius: 0.5rem;
      padding: 1rem;
      display: block;

      legend {
         padding: 0.25rem 0.5rem;
      }

      input {
         width: 100%;
         outline: none;
         border: 2px solid #aaa;
         border-radius: 0.25rem;
         background-color: #444;
         color: #eee;
         padding: 0.25rem 0.5rem;

         &:focus {
            background-color: #555;
            border-color: #ddd;
         }
      }

   }

   button {
      margin: 1rem 0;
   }
}


.login-form fieldset {
   max-width:300px;
}


.text-left {
   text-align: left;
}
.text-center {
   text-align: center;
}
.text-right {
   text-align: right;
}


.text-danger {
   color: tomato;
   font-weight: bold;
}